@import "./variables";

#menu{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border-style: double;
    border-width: 10px;
    background-color: $menuColor;
    width:10em;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#start{
    text-decoration: none;
    color: $menuText;
    a:link, a:visited{
        color: $menuText;
    }
}

#highscore{
    color: $menuText;
    :hover{
        cursor: pointer;
    }
}

#quit{
    color: $menuText;
    :hover{
        cursor: pointer;
    }
}

