#playMode{
    //visibility: hidden;
    width: 1800px;
    height: 600px;
    
    transform: translate(-50%, -50%);
    background-color: $gameBackground;
    border: 1px solid black;
    margin: auto;

    position: fixed;
    top: 50%;
    left: 50%;
    
    visibility: hidden;
}

#player{
    background-image: url(../../Images/player.png);
    width: 50px;
    height: 50px;
    position: relative;
    top: 550px;

}

.jump{
    animation: jump 0.3s linear;

}

@keyframes jump{
    0%{
        top: 550px;
    }
    30%{
        top: 530px;
    }
    50%{
        top: 480px;
    }
    80%{
        top: 530px;
    }
    100%{
        top: 550px;
    }
}

