#playMode{
    //visibility: hidden;
    width: 1800px;
    height: 600px;
    
    transform: translate(-50%, -50%);
    background-color: $gameBackground;
    border: 1px solid black;
    margin: auto;

    position: fixed;
    top: 50%;
    left: 50%;
    
    visibility: hidden;
}

#player{
    background-image: url(../../Images/player.png);
    width: 50px;
    height: 50px;
    position: relative;
    top: 550px;

}

.jump{
    animation: jump 0.3s linear;

}

@keyframes jump{
    0%{
        top: 550px;
    }
    30%{
        top: 500px;
    }
    50%{
        top: 450px;
    }
    80%{
        top: 500px;
    }
    100%{
        top: 550px;
    }
}

#enemy{
    width: 20px;
    height: 40px;
    position: relative;
    top: 510px;
    left: 1780px;
    background-color: black;

    animation: block 5s infinite linear;
}

@keyframes block{
    0%{
        left: 1780px;
    }
    100%{
        left: -20px;
    }
}

