@import "./variables";

#scoreBox{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border-style: double;
    border-width: 10px;
    background-color: $menuColor;
    display: flex;
    flex-flow: column;
    align-items: center;

    width: 50em;
    height: 30em;

    visibility: hidden;

}

#scoreBack:hover{
    cursor: pointer;
}
